<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
  <Properties>
    <Property name="LOG_FORMAT">[%d{yyyy-MM-dd HH:mm:ss,SSS}] [%t  ] [%-5level] %logger{36} - %msg%n</Property>
    <property name="LOG_HOME">/var/logs/base-cloud</property>
    <Property name="ROLE_NAME">tests</Property>
    <Property name="MAX_BACKUP">14d</Property>
    <Property name="DEBUG_LOG">debug</Property>
    <Property name="INFO_LOG">info</Property>
    <Property name="ERROR_LOG">error</Property>
  </Properties>
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
      <PatternLayout pattern="${LOG_FORMAT}" />
    </Console>
    <RollingFile name="LogfileDebugAppender" fileName="${LOG_HOME}/${ROLE_NAME}-${DEBUG_LOG}.log" filePattern="${LOG_HOME}/${ROLE_NAME}-${DEBUG_LOG}.log.%d{yyyy-MM-dd}">
      <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
      <PatternLayout pattern="${LOG_FORMAT}" />
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
      <!-- 保留文件数 -->
      <DefaultRolloverStrategy>
        <Delete basePath="${LOG_HOME}" maxDepth="1">
          <IfFileName glob="${ROLE_NAME}-${DEBUG_LOG}.log.*" />
          <IfLastModified age="${MAX_BACKUP}" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
    <RollingFile name="LogfileInfoAppender" fileName="${LOG_HOME}/${ROLE_NAME}-${INFO_LOG}.log" filePattern="${LOG_HOME}/${ROLE_NAME}-${INFO_LOG}.log.%d{yyyy-MM-dd}">
      <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
      <PatternLayout pattern="${LOG_FORMAT}" />
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
      <!-- 保留文件数 -->
      <DefaultRolloverStrategy>
        <Delete basePath="${LOG_HOME}" maxDepth="1">
          <IfFileName glob="${ROLE_NAME}-${INFO_LOG}.log.*" />
          <IfLastModified age="${MAX_BACKUP}" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
    <RollingFile name="LogfileErrorAppender" fileName="${LOG_HOME}/${ROLE_NAME}-${ERROR_LOG}.log" filePattern="${LOG_HOME}/${ROLE_NAME}-${ERROR_LOG}.log.%d{yyyy-MM-dd}">
      <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
      <PatternLayout pattern="${LOG_FORMAT}" />
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
      <!-- 保留文件数 -->
      <DefaultRolloverStrategy>
        <Delete basePath="${LOG_HOME}" maxDepth="1">
          <IfFileName glob="${ROLE_NAME}-${ERROR_LOG}.log.*" />
          <IfLastModified age="${MAX_BACKUP}" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
  </Appenders>
  <Loggers>
    <AsyncRoot level="error">
      <AppenderRef ref="ConsoleAppender" />
      <AppenderRef ref="LogfileDebugAppender" />
      <AppenderRef ref="LogfileInfoAppender" />
      <AppenderRef ref="LogfileErrorAppender" />
    </AsyncRoot>
  </Loggers>
</configuration>
